<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<app-back-button />
		</ion-buttons>

		<ion-title translate="settings" />
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-row>
		<ion-col
			*ngFor="let setting of settingsList"
			sizeXs="12"
			sizeSm="4"
			sizeMd="4"
			sizeLg="3"
			sizeXl="2"
		>
			<app-button-card
				[icon]="setting.icon"
				[cardLabel]="setting.label"
				[value]="setting.value"
				(clickEmit)="onClickCard(setting.action)"
			/>
		</ion-col>
	</ion-row>
</ion-content>

<ion-footer [translucent]="true" class="ion-no-border ion-text-center">
	<ion-toolbar>
		<div class="version-text">
			<ion-text
				color="medium"
				translate="version"
				[translateParams]="{value: appVersion}"
			>
			</ion-text>
		</div>
	</ion-toolbar>
</ion-footer>

<ion-modal
	[isOpen]="isModalOpen"
	(didDismiss)="onModalDismiss()"
	[initialBreakpoint]="1"
	[breakpoints]="[0, 1]"
>
	<ng-template>
		<div class="modal-content">
			<app-login-form
				*ngIf="isLogin"
				(buttonEmit)="modalButtonAction($event)"
			/>

			<app-sign-up-form
				*ngIf="isSignUp"
				(buttonEmit)="modalButtonAction($event)"
			/>

			<app-language-list *ngIf="isLanguage" (buttonEmit)="onModalDismiss()" />

			<app-unit-list *ngIf="isUnit" (buttonEmit)="onModalDismiss()" />

			<app-speed-correction
				*ngIf="isSpeedCorrection"
				(buttonEmit)="onModalDismiss()"
			/>
		</div>
	</ng-template>
</ion-modal>

