<h1
  class="mb-5 text-center text-2xl font-medium"
  translate="syncData"
></h1>

<div class="mb-5">
  <app-radio
    [listItems]="listSyncDataOptions"
    (changeEmit)="selectedSyncData = $event"
  />
</div>

<div>
  <app-button
    buttonLabel="import"
    [expand]="appConstant.buttonExpand.full"
    (clickEmit)="importData()"
    [isDisabled]="!!!selectedSyncData"
  />

  <app-button
    buttonLabel="export"
    [expand]="appConstant.buttonExpand.full"
    (clickEmit)="exportData()"
    [isDisabled]="!!selectedSyncData"
  />
</div>
