<ion-modal
	[isOpen]="isModalOpen"
	(didDismiss)="onCloseModal()"
	[initialBreakpoint]="1"
	[breakpoints]="[0, 1]"
>
	<ng-template>
		<div class="block">
			<h1 class="ion-text-center" translate="login"></h1>
			<form
				[formGroup]="loginForm"
				(submit)="onSubmit()"
				(keydown.enter)="onSubmit()"
			>
				<div class="form-input">
					<ion-item>
						<app-input
							class="w-full"
							[formGroup]="loginForm"
							inputLabel="email"
							controlName="email"
							[inputType]="appConstant.inputType.email"
						></app-input>
					</ion-item>

					<ion-item>
						<app-input
							class="w-full"
							[formGroup]="loginForm"
							inputLabel="password"
							controlName="password"
							[inputType]="
								isShowPassword
									? appConstant.inputType.text
									: appConstant.inputType.password
							"
							[inputIcon]="passwordIcon"
							(iconClickEmit)="hideShowPassword()"
						></app-input>
					</ion-item>
				</div>

				<div class="ion-text-center">
					<app-button
						buttonLabel="login"
						[expand]="appConstant.buttonExpand.full"
						[isDisabled]="loginForm.invalid || loginForm.disabled"
						[buttonType]="appConstant.buttonType.submit"
					></app-button>

					<app-button
						buttonLabel="signUp"
						[buttonType]="appConstant.buttonType.button"
						[fill]="appConstant.fill.clear"
					></app-button>
				</div>
			</form>
		</div>
	</ng-template>
</ion-modal>

