<ion-radio-group
  [value]="selectedValue"
  (ionChange)="onChangeValue($event)"
>
  <ion-list
    [inset]="true"
    lines="full"
    class="no-margin-list"
  >
    <ion-item
      class="radio-item"
      *ngFor="let item of listItems"
    >
      <ion-radio
        [value]="item.value"
        aria-label=""
        [disabled]="item.disabled"
      >
        <p>
          {{ item.label ? (item.label | translate) : item.value }}
        </p>
      </ion-radio>
    </ion-item>
  </ion-list>
</ion-radio-group>
