.flex {
  display: flex;
}

.hidden {
  display: hidden;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.h-fit {
  height: fit-content;
}

.h-full {
  width: 100%;
}

.m-auto {
  margin: auto;
}

.my-auto {
  margin-block: auto;
}

.mx-auto {
  margin-inline: auto;
}
