<h1
  class="mb-5 text-center text-2xl font-medium"
  translate="clearData"
></h1>

<div>
  <code> {{ test | json }} </code>
</div>

<app-checkbox
  [listItems]="clearableKeys"
  (selectEmit)="onSelect($event)"
/>

<div class="flex justify-center">
  <app-button
    buttonLabel="cancel"
    [fill]="appConstant.fill.clear"
    [color]="appConstant.color.medium"
    (clickEmit)="buttonEmit.emit()"
  ></app-button>

  <app-button
    buttonLabel="confirm"
    [fill]="appConstant.fill.clear"
    [isDisabled]="!isHaveChecked()"
    (clickEmit)="onConfirm()"
  ></app-button>
</div>
