<h1
  class="ion-text-center"
  translate="clearData"
></h1>

<app-checkbox
  [listItems]="clearableKeys"
  (selectEmit)="onSelect($event)"
/>

<div class="flex ion-align-items-center ion-justify-content-center">
  <app-button
    buttonLabel="cancel"
    [fill]="appConstant.fill.clear"
    [color]="appConstant.color.medium"
    (clickEmit)="buttonEmit.emit()"
  ></app-button>

  <app-button
    buttonLabel="confirm"
    [fill]="appConstant.fill.clear"
    [isDisabled]="!isHaveChecked()"
    (clickEmit)="onConfirm()"
  ></app-button>
</div>
