<h1
  class="mb-5 text-center text-2xl font-medium"
  translate="signUp"
></h1>

<form
  [formGroup]="signUpForm"
  (submit)="onSubmit()"
  (keydown.enter)="onSubmit()"
>
  <div class="form-input-container">
    <ion-list
      [inset]="true"
      lines="full"
      class="no-margin-list"
    >
      <ion-item>
        <app-input
          class="w-full"
          [formGroup]="signUpForm"
          inputLabel="displayName"
          controlName="displayName"
        ></app-input>
      </ion-item>

      <ion-item>
        <app-input
          class="w-full"
          [formGroup]="signUpForm"
          inputLabel="email"
          controlName="email"
          [inputType]="appConstant.inputType.email"
        ></app-input>
      </ion-item>

      <ion-item>
        <app-input
          class="w-full"
          [formGroup]="signUpForm"
          inputLabel="password"
          controlName="password"
          [inputType]="isShowPassword ? appConstant.inputType.text : appConstant.inputType.password"
          [inputIcon]="passwordIcon"
          (iconClickEmit)="hideShowPassword()"
        ></app-input>
      </ion-item>

      <ion-item>
        <app-input
          class="w-full"
          [formGroup]="signUpForm"
          inputLabel="confirmPassword"
          controlName="confirmPassword"
          [inputType]="isShowPassword ? appConstant.inputType.text : appConstant.inputType.password"
        ></app-input>
      </ion-item>
    </ion-list>
  </div>

  <div class="flex justify-center">
    <app-button
      buttonLabel="signUp"
      [expand]="appConstant.buttonExpand.full"
      [isDisabled]="signUpForm.invalid || signUpForm.disabled"
      [buttonType]="appConstant.buttonType.submit"
    ></app-button>

    <app-button
      buttonLabel="login"
      [buttonType]="appConstant.buttonType.button"
      [fill]="appConstant.fill.clear"
      (clickEmit)="buttonClick('login')"
    ></app-button>
  </div>
</form>
