<h1
  class="mb-5 text-center text-2xl font-medium"
  translate="speedCorrection"
></h1>

<app-range
  startLabel="+0%"
  endLabel="+10%"
  [currentValue]="selectedSpeedCorrection"
  (changeEmit)="onChangeSpeedCorrection($event)"
/>

<div class="flex justify-center">
  <app-button
    buttonLabel="cancel"
    [fill]="appConstant.fill.clear"
    [color]="appConstant.color.medium"
    (clickEmit)="buttonEmit.emit()"
  ></app-button>

  <app-button
    buttonLabel="confirm"
    [fill]="appConstant.fill.clear"
    (clickEmit)="onConfirm()"
  ></app-button>
</div>
