form {
	width: 100%;

	ion-item {
		&:first-child {
			border-radius: 10px 10px 0 0;
		}

		&:last-child {
			border-radius: 0 0 10px 10px;
		}
	}

	.form-input-container {
		margin-bottom: 30px;
	}
}
