<app-header
  [gpsStatusColor]="location.gpsStatusColor"
  [totalTime]="totalTime"
/>

<ion-content [fullscreen]="true">
  <div class="flex h-full flex-col items-center justify-center">
    <div class="flex h-fit w-full justify-center px-[10%] landscape:mb-2.5">
      <app-speed
        [speed]="calculatedData.speed"
        [unit]="unitData.speedUnit"
        (switchUnitEmit)="switchUnit()"
      />

      <app-landscape-information
        class="w-full max-w-lg portrait:hidden"
        [calculatedData]="calculatedData"
        [unitData]="unitData"
      />
    </div>

    <app-landscape-coordinates [geolocationData]="location" />
  </div>
</ion-content>

<ion-footer>
  <div class="w-full">
    <app-total-trip-distance
      [totalDistance]="calculatedData.totalDistance"
      [tripDistance]="calculatedData.tripDistance"
      [distanceUnit]="unitData.distanceUnit"
    />

    <app-portrait-information
      [calculatedData]="calculatedData"
      [geolocationData]="location"
      [unitData]="unitData"
    />
  </div>
</ion-footer>
