<app-header
  [gpsStatusColor]="location.gpsStatusColor"
  [totalTime]="totalTime"
/>

<ion-content [fullscreen]="true">
  <div class="center">
    <div class="speed-container">
      <div>
        <div class="speed">{{ calculatedData.speed }}</div>
        <div
          class="unit"
          (click)="switchUnit()"
        >
          {{ unitData.speedUnit }}
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer-bar">
    <div>
      <app-total-trip-distance
        [totalDistance]="calculatedData.totalDistance"
        [tripDistance]="calculatedData.tripDistance"
        [distanceUnit]="unitData.distanceUnit"
      />

      <!-- <div class="right-side flex">
        <span class="landscape-coordinates">
          <span class="ion-text-left">
            <div>{{ "latitude" | translate }}:</div>
            <div>{{ "longitude" | translate }}:</div>
          </span>
          <span class="ion-text-left">
            <div>{{ location.latitude }}</div>
            <div>{{ location.longitude }}</div>
          </span>
        </span>
      </div> -->
    </div>

    <app-information-card
      [calculatedData]="calculatedData"
      [geolocationData]="location"
      [unitData]="unitData"
    />
  </div>
</ion-footer>
