<ion-card
  button
  class="text-center"
  (click)="onClick(buttonOption.action)"
  [disabled]="buttonOption.isDisabled"
>
  <ion-card-content>
    <div class="card-top">
      <ion-icon [name]="buttonOption.icon" />

      <p
        *ngIf="buttonOption.subText"
        class="card-sub-text"
      >
        {{ buttonOption.subText }}
      </p>
    </div>

    <div class="card-bottom">
      <p
        class="truncate"
        [translate]="buttonOption.label"
      ></p>
    </div>
  </ion-card-content>
</ion-card>
